
<div class="bg-white max-w-lg rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
 <h3 class="bg-gray-100 text-center py-3">
          Question #<span id="current_number"></span> of <%= @data['numofquestions'] %>
          <br />
          Category - <%= @data['categoriesname'] %> 
          <br />
          Difficulty: <%= @data['difficulty'] %>
        </h3>
        <div hx-post="/answers" 
               hx-vals='{"sessid": "<%= @sessid %>", "question_no": "<%= @data['question_no'] %>" }' 
               hx-trigger="load" 
               hx-swap="outerHTML"></div>  


      </div>




 <script>
    console.log("<%= @data['question_no'].to_i %>")
    document.body.addEventListener('htmx:beforeSwap', function(evt) {
        if(parseInt("<%= @data['question_no'].to_i %>") == parseInt("<%= @data['numofquestions'] %>")){
            document.getElementById("current_number").innerHTML = "1"
        } else {
            document.getElementById("current_number").innerHTML = "<%= @data['question_no'].to_i + 1 %>"
        }
    });
  </script> 

</div>
