<div id="answer_buttons">
    <% if @correctAnsChosen  %>
        <div class="bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3" role={"alert"}>
        <p class="text-sm text-center">That answer is Correct!</p>
        <p class="text-sm text-center">The answer you chose is:</p>
        <p class="text-base text-center font-bold italic">
            <%= @questions.questions[@data['question_no'].to_i]['correct_answer'] %>
        </p>
        </div>
    <% else %>
        <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role={"alert"}>
        <p class="text-sm text-center">That answer is Incorrect!</p>
        <p class="text-sm text-center">The correct answer is:</p>
        <p class="text-base text-center font-bold italic">
            <%= @questions.questions[@data['question_no'].to_i]['correct_answer'] %>
        </p>
        </div>
    <% end %>

    <div class="font-bold text-xl mb-2 text-center py-4"><%=Nokogiri::XML.fragment @questions.questions[@data['question_no'].to_i]['question'] %></div>
    



    <% @answers.each_with_index do |answer, index| %>
        <% if (@correctAnsChosen and @data['selectedAns'].to_i == index) %>
            <button disabled="true"
                    class="bg-green-500 m-0.5 w-full text-white font-bold py-2 px-4 rounded cursor-not-allowed">
                <%=Nokogiri::XML.fragment answer %>
            </button> 
        <% elsif !@correctAnsChosen and @data['selectedAns'].to_i == index %>
            <button disabled="true"
                    class="bg-red-500 m-0.5 w-full text-white font-bold py-2 px-4 rounded cursor-not-allowed" >
                <%=Nokogiri::XML.fragment answer %>
            </button>
        <% elsif !@correctAnsChosen and answer == @questions.questions[@data['question_no'].to_i]['correct_answer'] %>
            <button disabled="true"
                    class="bg-green-500 m-0.5 w-full text-white font-bold py-2 px-4 rounded cursor-not-allowed" >
                <%=Nokogiri::XML.fragment answer %>
            </button> 
        <% else %>
            <button disabled="true"
                    class="bg-blue-500 m-0.5 w-full text-white font-bold py-2 px-4 rounded cursor-not-allowed">
                <%=Nokogiri::XML.fragment answer %>
            </button>
        <% end %>
    <% end %>
    <% if !@finish  %>
        <div class="px-6 pt-4 pb-2 text-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
                    hx-post="/answers" 
                    hx-vals='{"sessid": "<%= @data['sessid'] %>", "question_no": "<%= @data['question_no'].to_i + 1 %>" }' 
                    hx-target="#answer_buttons"
                    hx-swap="innerHTML"
                    hx-push-url="?question_no=<%= @data['question_no'].to_i + 2 %>">
            Next
            </button>
        </div>
    <% else %>
        <div class="px-6 pt-4 pb-2 text-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
                    hx-post="/form"
                    hx-target="main"
                    hx-swap="innerHTML"
                    hx-push-url="/">
            Restart
            </button>
        </div>
    <% end %>
    
        <script>
            document.body.addEventListener('htmx:beforeSwap', function(evt) {
                document.getElementById("current_number").innerHTML = "<%= @data['question_no'].to_i + 2 %>"
            });
        </script>
    </div>
